# Using the Pandas DataFrame built in methods for SQL connections

In [1]:
#!pip install sqlalchemy
#!pip install pymysql

In [2]:
import pandas as pd
import sqlalchemy
import pymysql

In [3]:
user = "pda2022"
password="pda2022"
database = "test"
try:
    sqlEngine = sqlalchemy.create_engine(f"mysql+pymysql://{user}:{password}@127.0.0.1/{database}")
    conn = sqlEngine.connect()
except:
    sqlEngine = sqlalchemy.create_engine(f"mysql+pymysql://{user}:{password}@127.0.0.1/")
    conn = sqlEngine.connect()
    conn.execute(f"CREATE DATABASE {database};")
    conn.execute("USE test;")

In [4]:
df = pd.DataFrame({"col1":[1, 2, 3], "col2": [4, 5, 6]})

In [5]:
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [6]:
# table name, connection object
df.to_sql("test", conn)

3

In [7]:
# SQL query, connection object
df2 = pd.read_sql("SELECT * FROM test;", conn, index_col="index")

In [8]:
df2

       col1  col2
index
0         1     4
1         2     5
2         3     6

In [9]:
conn.close()