In [ ]:
#!pip install mysql-connector-python

In [1]:
import mysql.connector

In [ ]:
db = mysql.connector.connect(
    host="localhost",
    user="pda2022", #root
    password="pda2022"
)

In [ ]:
print(db)

In [ ]:
conn = db.cursor()

#conn.execute("CREATE DATABASE students;")
conn.execute("CREATE DATABASE IF NOT EXISTS students;")

In [ ]:
conn.execute("SHOW DATABASES;")

In [ ]:
#conn.execute("SHOW DATABASES;")

In [ ]:
for result in conn:
    print(result)

In [ ]:
conn.execute("USE students;")

In [ ]:
db = mysql.connector.connect(
    host="localhost",
    user="pda2022", #root
    password="pda2022",
    database="students",
)
print(db)
conn = db.cursor()

In [ ]:
conn.execute("CREATE TABLE test (id INT);")

In [ ]:
conn.execute("CREATE TABLE students (name VARCHAR(255), age INT, studentNum INT NOT NULL PRIMARY KEY);")

In [ ]:
conn.execute("SHOW TABLES;")

In [ ]:
for result in conn:
    print(result)

In [ ]:
conn.execute("DROP TABLE students")

In [ ]:
conn.execute("SHOW TABLES;")
for result in conn:
    print(result)

In [ ]:
conn.execute("CREATE TABLE students (name VARCHAR(255), age INT, studentNum INT NOT NULL PRIMARY KEY);")

In [ ]:
conn.execute("SHOW TABLES;")
for result in conn:
    print(result)

In [ ]:
conn.execute("INSERT INTO students (name, age, studentNum) VALUES (Joe, 40, 123);")

In [ ]:
conn.execute("INSERT INTO students (name, age, studentNum) VALUES ('Joe', 40, 123);")

In [ ]:
# Joe
# 'Joe'

In [ ]:
db = mysql.connector.connect(
    host="localhost",
    user="pda2022", #root
    password="pda2022",
    database="students",
)
print(db)
conn = db.cursor()

In [ ]:
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

In [ ]:
for result in conn:
    print(result)

In [ ]:
conn.execute("INSERT INTO students (name, age, studentNum) VALUES ('Joe', 40, 123);")

In [2]:
db = mysql.connector.connect(
    host="localhost",
    user="pda2022", #root
    password="pda2022",
    database="students",
)
print(db)
conn = db.cursor()

<mysql.connector.connection.MySQLConnection object at 0x00000241B43A4460>

In [ ]:
conn.execute("INSERT INTO students (name, age, studentNum) VALUES ('Joe', 40, 123);")

In [3]:
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

('Joe', 40, 123, None)

In [ ]:
db.commit()

In [ ]:
conn.execute("ALTER TABLE students ADD COLUMN programme VARCHAR(255);")

In [4]:
conn.execute("UPDATE students SET programme = 'MSc Data Analytics' WHERE studentNum = 123;")

In [5]:
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

('Joe', 40, 123, 'MSc Data Analytics')

In [15]:
sql = "INSERT INTO students (name, age, studentNum, programme) VALUES (%s, %s, %s, %s);"
values = [
    ('Alice', 63, 125, 'MSc Data Analytics'),
    ('Bob', 47, 126, 'BSc Comupting and IT'),
]

conn.executemany(sql, values)
db.commit()

IntegrityError: 1062 (23000): Duplicate entry '125' for key 'students.PRIMARY'

In [7]:
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

('Joe', 40, 123, 'MSc Data Analytics')
('Alice', 63, 125, 'MSc Data Analytics')
('Bob', 47, 126, 'BSc Comupting and IT')

In [12]:
conn.execute("SELECT * FROM students WHERE programme LIKE 'MSc %';")
for result in conn:
    print(result)

('Joe', 40, 123, 'MSc Data Analytics')
('Alice', 63, 125, 'MSc Data Analytics')

In [13]:
conn.execute("SELECT name FROM students WHERE programme LIKE 'MSc %';")
for result in conn:
    print(result)

('Joe',)
('Alice',)

In [14]:
conn.execute("SELECT name, studentNum FROM students WHERE programme LIKE 'MSc %';")
for result in conn:
    print(result)

('Joe', 123)
('Alice', 125)

In [16]:
conn.close()

True

# Exercise 1

Create a new table called programmes

The columns are the programme name (primary key), as well as up to 6 modules

Insert the MSc Data Analytics with the modules for this semester

# Exercise 2
Read one of the company .csv files

Store it in a table in a new database